{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
	<!--meta tags-->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% block custom_meta %} {% endblock custom_meta %}
    <!--library imports-->
    <link href="{% static 'bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap-social-gh-pages/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--fonts-->
    <!--custom imports-->
    <link rel="stylesheet" href="{% static 'style_home_page.css' %}">
    <link rel="stylesheet" href="{% static 'style_mobile.css' %}">
    <script src="{% static 'tether.min.js' %}"></script>
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-alpha.5-dist/js/bootstrap.min.js' %}"></script> {% block extra_headers %} {% endblock extra_headers %}
</head>

<body>
    {% block body_content %} {% endblock body_content %}
</body>

</html>
